{% extends "base.html" %}
{% load my_tag %}

{% block title %}
{{ column.title | default:222}}
{% endblock title %}



{% block content %}
<p>栏目名称：{{ column.name }}</p>
栏目简介：{{ column.intro }}
栏目文章列表：
<ul>
    {% for article in column.article_set.all %}
        <li>
            <a href="{{ article.get_absolute_url }}">{{ article.Title }}</a>
        </li>
    {% endfor %}
</ul>
    {% autoescape off %}
     {{ "<h1>使浏览器能识别</h1>" }}
    {% endautoescape %}

    {% verbatim %}
    {{ 禁止渲染 }}
    {% endverbatim %}

    {%  my_add100 4 %}
    {{ num|my_add1:8 }}

{% endblock content %}
